In [6]:
import pandas as pd

In [110]:
df =pd.read_csv("Resources/budget_data.csv")
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [111]:
# total number of months included in dataset
total_month = df["Date"].count()
total_month

86

In [116]:
# the net total amount of "Profit/losses over the entire period
profit_loss_total =df["Profit/Losses"].sum()
profit_loss_total

38382578

In [119]:
# the change in "Profit/Losses" over entire period, then find average of change
change_per_month = [0]
pro_loss =df["Profit/Losses"].to_list()
for i in range(1,len(pro_loss)):
    diff = pro_loss[i]-pro_loss[i - 1]
    change_per_month.append(diff)
change_per_month

[0,
 116771,
 -662642,
 -391430,
 379920,
 212354,
 510239,
 -428211,
 -821271,
 693918,
 416278,
 -974163,
 860159,
 -1115009,
 1033048,
 95318,
 -308093,
 99052,
 -521393,
 605450,
 231727,
 -65187,
 -702716,
 177975,
 -1065544,
 1926159,
 -917805,
 898730,
 -334262,
 -246499,
 -64055,
 -1529236,
 1497596,
 304914,
 -635801,
 398319,
 -183161,
 -37864,
 -253689,
 403655,
 94168,
 306877,
 -83000,
 210462,
 -2196167,
 1465222,
 -956983,
 1838447,
 -468003,
 -64602,
 206242,
 -242155,
 -449079,
 315198,
 241099,
 111540,
 365942,
 -219310,
 -368665,
 409837,
 151210,
 -110244,
 -341938,
 -1212159,
 683246,
 -70825,
 335594,
 417334,
 -272194,
 -236462,
 657432,
 -211262,
 -128237,
 -1750387,
 925441,
 932089,
 -311434,
 267252,
 -1876758,
 1733696,
 198551,
 -665765,
 693229,
 -734926,
 77242,
 532869]

In [129]:
df["Difference"]=change_per_month

In [130]:
average_change = df["Difference"].sum() / 85

In [131]:
max_change = df["Difference"].max()

In [128]:
min_change =df["Difference"].min()

In [1]:
month = print(f'Total Month: {month}')
total = print(f'Total: ${total_net:,.2f}')
average = print(f'Average Change: ${average_change:,.2f}')
increase = print(f'Greatest Profit Increase: ${max_change:,.2f}')
decrease = print(f'Greatest Profit Decrease: ${min_change:,.2f}')

NameError: name 'month' is not defined

In [24]:
Analysis = print("Analysis","------------------------------------------------------",month,total,average,increase,decrease)

NameError: name 'month' is not defined