In [39]:
import pandas as pdas

In [43]:
csv_path = "Resources/budget_data.csv"
budget_df=pdas.read_csv(csv_path)
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [42]:
# total number of months
months = file["Date"].total_count()

TypeError: string indices must be integers

In [24]:
# total profit/loss
net_total = df["Profit/Losses"].to_list()

NameError: name 'df' is not defined